body{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    text-align: center;
    background: url(https://i.pinimg.com/564x/c1/12/4a/c1124ae20ac3a1025ed738906708ea8f.jpg)no-repeat center center/cover;
}
.cronometroP{
    display: grid;
    justify-content:center;
    align-items:center;
    background: white;
    width: 30%;
    height: 50%;
    border-radius: 30px;
    border: 1px solid #333;
}

#numeros h1{
    text-align: center;
    font-size: 50px;
}

.boton{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

button{
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 20px;
}
button:hover{
    filter: opacity(0.7);
    scale: 1.04;
}
.rojo{
    background: red;
}
.verde{
    background: green;
}
.repetir{
    width: 30px;
}



@media (max-width:1024px) {
    .cronometroP{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        background: white;
        width: 300px;
        height: 350px;
    }

    .boton{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    button{
        width: 50px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
    }
}
